<header class="main-header">
  <span class="heading">Task Management</span>

  <ng-container *ngIf="user | async">
    <div class="user-info dropdown">
      <div class="user-dropdown-btn" id="user-option-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/images/default-user.svg" alt="User" class="user-image" />
      </div>
      <ul class="dropdown-menu" aria-labelledby="user-option-dropdown">
        <li class="dropdown-item" title="Name">
          <p class="user-name">{{ (user|async).name }}</p>
        </li>
        <li class="dropdown-item" title="Email">
          <p class="user-email">{{ (user|async).email }}</p>
        </li>
        <li class="dropdown-item" (click)="logout()">
          <span>Logout</span>
          <span class="material-icons cursor-pointer"> logout </span>
        </li>
      </ul>

    </div>
  </ng-container>
</header>