<div class="nav-menu">
  <div class="nav-menu-header">
    <ng-container *ngIf="user?.email">
      <div class="user-info dropdown">
        <div class="user-dropdown-btn" id="user-option-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/images/default-user.svg" alt="User" class="user-image" />
        </div>
        <ul class="dropdown-menu" aria-labelledby="user-option-dropdown">
          <li class="dropdown-item">
            <p class="user-name">{{ user.name }}</p>
          </li>
          <li class="dropdown-item">
            <span class="material-icons" (click)="logout()"> logout </span>
          </li>
        </ul>

        <div class="username-container">
          <p class="user-name">{{ user.name }}</p>
          <span class="material-icons" (click)="logout()"> logout </span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="nav-menu-item">
    <a [routerLink]="['/dashboard']" routerLinkActive="active" class="nav-item">Dashboard</a>
    <a [routerLink]="['/task']" routerLinkActive="active" class="nav-item">Tasks</a>
  </div>
</div>